:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  /*background: url(./Assets/bg_linear.jpg) no-repeat;
  background-size: cover; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 4rem;
  padding: 2rem;
  mix-blend-mode: multiply;
}

.btn-parent{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

 .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }

model-viewer {
  width: 100%;
  height: 90%;
  background-color: unset;
  position: absolute;
  top: 10%;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #ccc;
  bottom: 10%;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
 /* Mobile Devices Viewport */
/* ----------- ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 280px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /*background: url(./Assets/bg_linear.jpg) no-repeat;
    background-size: cover; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .logo {
    width: 5rem;
    padding: 1rem;
    mix-blend-mode: multiply;
  }
  
   .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }

}





 /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /*background: url(./Assets/bg_linear.jpg) no-repeat;
    background-size: cover; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .logo {
    width: 5rem;
    padding: 1rem;
    mix-blend-mode: multiply;
  }
  
   .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }

}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      /*background: url(./Assets/bg_linear.jpg) no-repeat;
      background-size: cover; */
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
    }
  
    .logo {
      width: 5rem;
      padding: 1rem;
      mix-blend-mode: multiply;
    }
    
     .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }

}
 /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /*background: url(./Assets/bg_linear.jpg) no-repeat;
    background-size: cover; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .logo {
    width: 5rem;
    padding: 1rem;
    mix-blend-mode: multiply;
  }
  
   .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }
  
 }


 /* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /*background: url(./Assets/bg_linear.jpg) no-repeat;
    background-size: cover; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .logo {
    width: 5rem;
    padding: 1rem;
    mix-blend-mode: multiply;
  }
  
   .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }
  

}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      /*background: url(./Assets/bg_linear.jpg) no-repeat;
      background-size: cover; */
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
    }
  
    .logo {
      width: 7rem;
      padding: 1.5rem;
      mix-blend-mode: multiply;
    }
    
     .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }
    
}
    
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /*background: url(./Assets/bg_linear.jpg) no-repeat;
    background-size: cover; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .logo {
    width: 4rem;
    padding: 1rem;
    mix-blend-mode: multiply;
  }
  .impressum {
    width: 7rem;
    height:1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #333333;
    border-radius: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem;
  }
    
}
